

/*carrrrrirtooooo*/


.iconoCarrito {
  width: 80px;
    height: 80px;
     border-radius: 50%; 
}


.barraColor{

  background-color: rgb(0, 39, 97);
  position: fixed; /*Posiciona el elemento de forma fija en relación a la ventana del navegador*/
  top: 0; /*Coloca el elemento pegado al borde superior de la ventana (0 píxeles desde arriba).*/
 
  width: 100%;
  z-index: 100;

}

.Barra {
    display: flex;
    align-items: center; /*esto lo alinea, ni muy arriba ni tan abajo*/
    background: #06398b;
    padding: 10px 20px; /*esto es la medida del header*/


justify-content: space-between; /* Esto empuja el logo a la izquierda y el carrito a la derecha */
}

.Menu {
    margin-left: 950px;   /*  EMPUJA A LA DERECHA */


    display: flex;
    gap: 20px;           /* separa los enlaces, este gap funciona si o si con el display */
}

.Logo {
    width: 80px;
    height: 80px;
}

a{
      font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
     text-decoration: none; /* Esta línea elimina el subrayado */
}





main {
    max-width: 500px;
    margin: 150px auto 40px auto; /*hace que no quede pegado al main */
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
}

main h1{
    text-align: center;
    color: #1a73e8;
    font-size: 28px;
    margin-bottom: 15px;
}

main p{
    text-align: center;
    font-size: 16px;
    color: #444;
}

/* FORMULARIO */
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    

}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

textarea{
    resize: none;
}

/* BOTÓN */
input[type="submit"]{
    background: #1a73e8;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background: #125bb5;
}







/* desde aqui iniciamos el estuilo del footer*/
footer{
    background: #222; 
    color: white;
    padding: 80px 20px;
    font-family: system-ui
}

.footerContenedor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footerCol{
    width: 250px;
    margin-bottom: 20px;

}



.copy{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
}

