<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="icon" type="image" href="https://i.postimg.cc/DzwkrKVw/eli-JN.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/Contactanos.css">

    <title>Contactanos</title>
</head>

<body>
    
<header>
    <div class="barraColor">

    <nav class="Barra">

        <img class="Logo" src="https://i.postimg.cc/DzwkrKVw/eli-JN.png" alt="Logo">

            <div class="Menu">
               <a href="/">Inicio</a>
               <a href="/Productos">Productos</a>
               <a href="/Contactanos">Contactanos</a>
               <a href="/Nosotros">Nosotros</a>
            </div>
           
          
        
             <a href="/carrito">
               <img class="iconoCarrito" src="https://i.postimg.cc/DfRQ4grt/shopping-cart.gif" alt="Carrito de compras">
             </a>
      </div>
    </nav>
    
    </div>

</header>


<main>


    <h1>Contacto</h1>
<p> ¿Necesitás más información? Estamos disponibles para ayudarte con cualquier consulta.</p>

<h1>Enviar mensaje</h1>
  <form id="formularioContacto">
    <label>Nombre:</label>
    <input id="nombre" type="text"><br>


    <label>Email:</label>
    <input id="email"type="email"><br>



    <label>Mensaje:</label>
    <textarea id="texto" name="mensaje" rows="4" cols="40"></textarea><br>

    <input type="submit" value="Enviar">
  </form>
     <div id="mensajes" style="margin-top: 10px; font-weight: bold;"></div>

</main>

<footer>
    <div class="footerContenedor">

        <div class="footerCol">
            <h2>CASA CENTRAL</h2>
            <p>Monterrico- Jujuy</p>
            <p>Av Libertad N°41</p>
            <p>B° Los Soles</p>
        </div>

        <div class="footerCol">
            <h2>SUCURSAL</h2>
            <p>San Salvador de Jujuy</p>
            <p>Av. Tumusla</p>
        </div>

        <div class="footerCol">
            <h2>SUCURSAL</h2>
            <p>Libertador General San Martin</p>
            <p>Av. Yrigoyen N°180</p>
        </div>

    </div>

    <!-- EL COPY DEBE IR FUERA DEL CONTAINER -->
    <p class="copy">© 2025 JN SUBLITEX - Todos los derechos reservados</p>
</footer>





<script src="/js/Contactanos.js"></script>
</body>
</html>