 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image" href="https://i.postimg.cc/DzwkrKVw/eli-JN.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/Nosotros.css">
    <title>Nosotros</title>
 </head>
 <body>
    
<header>
    <div class="barraColor">

    <nav class="Barra">

        <img class="Logo" src="https://i.postimg.cc/DzwkrKVw/eli-JN.png" alt="Logo">

            <div class="Menu">
               <a href="/">Inicio</a>
               <a href="/Productos">Productos</a>
               <a href="/Contactanos">Contactanos</a>
               <a href="/Nosotros">Nosotros</a>
            </div>
           
          
        
             <a href="/carrito">
               <img class="iconoCarrito" src="https://i.postimg.cc/DfRQ4grt/shopping-cart.gif" alt="Carrito de compras">
             </a>
      </div>
    </nav>
    
    </div>

</header>



<main class="seccionHistoria">
  
  <h1 class="tituloHistoria">NUESTRA HISTORIA</h1>

  <p class="parrafoHistoria">JN Sublitex nace como una extensión de Nap Sport, una empresa familiar dedicada desde 2019 a la confección de indumentaria deportiva personalizada.</p>

  <p class="parrafoHistoria">Con el paso del tiempo y el compromiso con la innovación, en agosto de 2025 ampliamos nuestro horizonte y comenzamos a fabricar prendas textiles para sublimar y estampar, ofreciendo productos de alta calidad pensados para emprendedores, diseñadores y talleres gráficos.</p>

  <p class="parrafoHistoria">Actualmente somos distribuidores directos de una amplia variedad de artículos de polímero, aluminio, madera, cerámica, lajas, gorras y muchos más, además de brindar servicios de impresión en diversos materiales, acompañando a nuestros clientes en cada etapa del proceso creativo.</p>

  <p class="parrafoHistoria">Nuestra fábrica se encuentra en Monterrico, provincia de Jujuy, y contamos con locales comerciales en San Salvador de Jujuy y Ledesma, desde donde continuamos expandiendo nuestra presencia y ofreciendo atención personalizada en toda la región.</p>

  <p class="parrafoHistoria">En JN Sublitex trabajamos día a día para combinar tecnología, calidad y diseño, impulsando el crecimiento de quienes confían en nosotros.</p>
</main>



<footer>
    <div class="footerContenedor">

        <div class="footerCol">
            <h2>CASA CENTRAL</h2>
            <p>Monterrico- Jujuy</p>
            <p>Av Libertad N°41</p>
            <p>B° Los Soles</p>
        </div>

        <div class="footerCol">
            <h2>SUCURSAL</h2>
            <p>San Salvador de Jujuy</p>
            <p>Av. Tumusla</p>
        </div>

        <div class="footerCol">
            <h2>SUCURSAL</h2>
            <p>Libertador General San Martin</p>
            <p>Av. Yrigoyen N°180</p>
        </div>

    </div>

    <!-- EL COPY DEBE IR FUERA DEL CONTAINER -->
    <p class="copy">© 2025 JN SUBLITEX - Todos los derechos reservados</p>
</footer>
    
 </body>
 </html>
 
 
