<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="icon" type="image" href="https://i.postimg.cc/DzwkrKVw/eli-JN.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>


    <link rel="stylesheet" href="/Css/Productos.css">

</head>

<body>
    
<header>
    <div class="barraColor">

    <nav class="Barra">

        <img class="Logo" src="https://i.postimg.cc/DzwkrKVw/eli-JN.png" alt="Logo">

            <div class="Menu">
               <a href="/">Inicio</a>
               <a href="/Productos">Productos</a>
               <a href="/Contactanos">Contactanos</a>
               <a href="/Nosotros">Nosotros</a>
            </div>
           
          
        
             <a href="/carrito">
               <img class="iconoCarrito" src="https://i.postimg.cc/DfRQ4grt/shopping-cart.gif" alt="Carrito de compras">
             </a>
      </div>
    </nav>
    
    </div>

</header>



<main>
    <div class="contenedorProductos">

<div class="Global">    
     
 <!--Producto uno-->

<article><!--limita una seccion para la estructura de una card-->
<div class="Tarjeta">
    <div class="contenidoTarjeta">
        <div >
            <img class="productoTarjeta" src="https://i.postimg.cc/gjxjzrvP/OIP.webp" alt="TazaGliters">
        </div>
        <div>
            <p class="Precio">Precio: $3800 </p>
            <p class="NombreProducto">Taza Gliters</p>
           <!--/* <p>⭐⭐⭐⭐⭐</p>  con la tecla window mas un punto podemos colocar emoji-->

                    <div class="Estrellas">
                         <input type="radio" id="star5" name="Estrellas" value="5" />
                         <label for="star5">★</label>

                         <input type="radio" id="star4" name="Estrellas" value="4" />
                         <label for="star4">★</label>

                         <input type="radio" id="star3" name="Estrellas" value="3" />
                         <label for="star3">★</label>

                         <input type="radio" id="star2" name="Estrellas" value="2" />
                         <label for="star2">★</label>

                         <input type="radio" id="star1" name="Estrellas" value="1" />
                         <label for="star1">★</label>
                    </div>
            <p>Descripcion: Taza de ceramica de 11oz, con efecto glitters para sublimar.
            </p>

            <label for="cant1">Cantidad:</label>
            <input type="number" id="cant1" min="1" value="1" class="inputCantidad">

            <button class="botonCeleste">Comprar</button>
            



        </div>
    </div>
</div>
</article>



<!--Producto dos-->
<article><!--limita una seccion para la estructura de una card-->
<div class="Tarjeta">
    <div class="contenidoTarjeta">
        <div >
            <img class="productoTarjeta" src="https://i.postimg.cc/2ytqhnz2/b_Deportiva.jpg" alt="BotellaDeportiva">
        </div>
        <div>
            <p class="Precio">Precio: $6000</p>
            <p class="NombreProducto">Botella Deportiva</p>

                     <div class="Estrellas">
                         <input type="radio" id="star5" name="Estrellas" value="5" />
                         <label for="star5">★</label>

                         <input type="radio" id="star4" name="Estrellas" value="4" />
                         <label for="star4">★</label>

                         <input type="radio" id="star3" name="Estrellas" value="3" />
                         <label for="star3">★</label>

                         <input type="radio" id="star2" name="Estrellas" value="2" />
                         <label for="star2">★</label>

                         <input type="radio" id="star1" name="Estrellas" value="1" />
                         <label for="star1">★</label>
                    </div>

            <p>Descripcion: Botella deportiva de aluminio 750ml para sublimar.</p>


              <label for="cant1">Cantidad:</label>
              <input type="number" id="cant1" min="1" value="1" class="inputCantidad">

              <button class="botonCeleste">Comprar</button>

        </div>
    </div>
</div>
</article>


<!--Producto tres-->

<article><!--limita una seccion para la estructura de una card-->
<div class="Tarjeta">
    <div class="contenidoTarjeta">
        <div >
            <img class="productoTarjeta" src="https://i.postimg.cc/L6qgRQTW/b_Succcc.jpg" alt="BotellaSeccion">
        </div>
        <div>
            <p class="Precio">Precio: $6800</p>
            <p class="NombreProducto">Botella de Succion</p>

                     <div class="Estrellas">
                         <input type="radio" id="star5" name="Estrellas" value="5" />
                         <label for="star5">★</label>

                         <input type="radio" id="star4" name="Estrellas" value="4" />
                         <label for="star4">★</label>

                         <input type="radio" id="star3" name="Estrellas" value="3" />
                         <label for="star3">★</label>

                         <input type="radio" id="star2" name="Estrellas" value="2" />
                         <label for="star2">★</label>

                         <input type="radio" id="star1" name="Estrellas" value="1" />
                         <label for="star1">★</label>
                    </div>

            <p>Descripcion: Botella deportiva de aluminio 750ml para sublimar.</p>

              <label for="cant1">Cantidad:</label>
              <input type="number" id="cant1" min="1" value="1" class="inputCantidad">

              <button class="botonCeleste">Comprar</button>

        </div>
    </div>
</div>
</article>

<!--Producto cuatro-->

<article><!--limita una seccion para la estructura de una card-->
<div class="Tarjeta">
    <div class="contenidoTarjeta">
        <div >
            <img class="productoTarjeta" src="https://i.postimg.cc/cLwKtKPd/b_Tapa_Acrilica.webp" alt="BotellaTapaAcrilica">
        </div>
        <div>
            <p class="Precio">Precio: $7500</p>
            <p class="NombreProducto">Botella c/ tapa Acrilica</p>

                    <div class="Estrellas">
                         <input type="radio" id="star5" name="Estrellas" value="5" />
                         <label for="star5">★</label>

                         <input type="radio" id="star4" name="Estrellas" value="4" />
                         <label for="star4">★</label>

                         <input type="radio" id="star3" name="Estrellas" value="3" />
                         <label for="star3">★</label>

                         <input type="radio" id="star2" name="Estrellas" value="2" />
                         <label for="star2">★</label>

                         <input type="radio" id="star1" name="Estrellas" value="1" />
                         <label for="star1">★</label>
                    </div>

            <p>Descripcion: Botella deportiva de aluminio 750ml para sublimar.</p>

              <label for="cant1">Cantidad:</label>
              <input type="number" id="cant1" min="1" value="1" class="inputCantidad">

              <button class="botonCeleste">Comprar</button>

        </div>
    </div>
</div>
</article>


<!--Producto cinco-->

<article><!--limita una seccion para la estructura de una card-->
<div class="Tarjeta">
    <div class="contenidoTarjeta">
        <div >
            <img class="productoTarjeta" src="https://i.postimg.cc/SKGJVBSQ/ceramica.png" alt="TazaInteriorColor">
        </div>
        <div>
            <p class="Precio">Precio: $7500</p>
            <p class="NombreProducto">Taza c/ interior de color

                     <div class="Estrellas">
                         <input type="radio" id="star5" name="Estrellas" value="5" />
                         <label for="star5">★</label>

                         <input type="radio" id="star4" name="Estrellas" value="4" />
                         <label for="star4">★</label>

                         <input type="radio" id="star3" name="Estrellas" value="3" />
                         <label for="star3">★</label>

                         <input type="radio" id="star2" name="Estrellas" value="2" />
                         <label for="star2">★</label>

                         <input type="radio" id="star1" name="Estrellas" value="1" />
                         <label for="star1">★</label>
                    </div>

            <p>Descripcion: Taza de ceramica 11oz con interior de color.</p>

              <label for="cant1">Cantidad:</label>
              <input type="number" id="cant1" min="1" value="1" class="inputCantidad">

              <button class="botonCeleste">Comprar</button>

        </div>
    </div>
</div>
</article>

<!--Producto seis-->

<article><!--limita una seccion para la estructura de una card-->
<div class="Tarjeta">
    <div class="contenidoTarjeta">
        <div >
            <img class="productoTarjeta" src="https://i.postimg.cc/zBt3YTHF/chop_Esmerilado.webp" alt="ChopEsmerilado">
        </div>
        <div>
            <p class="Precio">Precio: $3800</p>
            <p class="NombreProducto">Chop Esmerilado

                    <div class="Estrellas">
                         <input type="radio" id="star5" name="Estrellas" value="5" />
                         <label for="star5">★</label>

                         <input type="radio" id="star4" name="Estrellas" value="4" />
                         <label for="star4">★</label>

                         <input type="radio" id="star3" name="Estrellas" value="3" />
                         <label for="star3">★</label>

                         <input type="radio" id="star2" name="Estrellas" value="2" />
                         <label for="star2">★</label>

                         <input type="radio" id="star1" name="Estrellas" value="1" />
                         <label for="star1">★</label>
                    </div>

                         <p>Descripcion: Chop esmerilado de vidrio 18oz, aptos para sublimacion.</p>

                         <label for="cant1">Cantidad:</label>
                         <input type="number" id="cant1" min="1" value="1" class="inputCantidad">
                         <button class="botonCeleste">Comprar</button>


            


        </div>
    </div>
</div>
</article>






    </div>




</main>





<footer>
    <div class="footerContenedor">

        <div class="footerCol">
            <h2>CASA CENTRAL</h2>
            <p>Monterrico- Jujuy</p>
            <p>Av Libertad N°41</p>
            <p>B° Los Soles</p>
        </div>

        <div class="footerCol">
            <h2>SUCURSAL</h2>
            <p>San Salvador de Jujuy</p>
            <p>Av. Tumusla</p>
        </div>

        <div class="footerCol">
            <h2>SUCURSAL</h2>
            <p>Libertador General San Martin</p>
            <p>Av. Yrigoyen N°180</p>
        </div>

    </div>

    <!-- EL COPY DEBE IR FUERA DEL CONTAINER -->
    <p class="copy">© 2025 JN SUBLITEX - Todos los derechos reservados</p>
</footer>

</body>
</html>